<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Noto Sans Symbols' rel='stylesheet'>
	<title>CRISIS</title>
	<link rel="stylesheet" href="style.css">

</head>


<body>
	<nav class="navbar">
		<div class="nav-link-container">
            <a class="nav-link" href="homepage.html" >Home</a>
            <a class="nav-link" href="account.html" >Account</a>
			<a class="nav-link-crisis" href="crisis.html">&nbsp CRISIS &nbsp</a>
		</div>
	</nav>

	<section class="body-container">
		<div class="body">
			<div class="main-container-crisis">
                <div class="account-info-button-container"> 
                    <p style = "font-size: 20px; text-align: left;">
                        <b>Jason </b>
                    </p>
                    <p style="font-size: 15px; text-align: left;">
                    Age: 16 <br>
                    Race: Black <br>
                    Region: Kingston, Ontario, Canada<br>
                    Emergency Contact: 613-867-5309 <br>
                    </p>   
                </div>
             
            </div>
            <div class="fav-container">
                <div class="account-fav-button-container"> 
                    <p style = "font-size: 20px; text-align: left;">
                        <b>Your Favourites: </b>
                    </p>
                    <p style="font-size: 15px; text-align: left;">
                    Colour: Green <br>
                    Animal: Dog <br> 
                    Hobby: Reading <br> 
                    </p>   
                </div>
             
            </div>
            

		</div>
	</section>
    <div></div>
</body>

</html>