<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Noto Sans Symbols' rel='stylesheet'>
	<title>Take a Break</title>
	<link rel="stylesheet" href="style.css">

</head>


<body>
	<nav class="navbar">
		<div class="nav-link-container">
            <a class="nav-link" href="homepage.html" >Home</a>
            <a class="nav-link" href="account.html" >Account</a>
			<a class="nav-link-crisis" href="crisis.html">&nbsp CRISIS &nbsp</a>
		</div>
	</nav>

	<section class="body-container" >
		<div class="body">
			<div class="story-container-container">
                <div class="image-container">
                    <img
                        src="maxthedog.jpg"
                        alt="" width="400">
                </div>
    
				<div style="background-image: url('brownpaper.jpg')"; class="story-container">
					<a>
                        Once upon a time, there was a little puppy named Max. Max was a curious and intelligent pup, and he loved to learn new things. One day, while out for a walk with his owner, they came across a cozy cafe. Max was immediately intrigued by the smell of coffee and the sight of people reading books.

His owner, noticing his interest, decided to bring him inside. Max was overjoyed and couldn't wait to explore the cafe. The owner ordered a latte and sat down at a small table. Max settled in beside him, and they began to read a book together.

Max was fascinated by the pictures and words on the pages. He couldn't understand everything, but he loved to listen to his owner read to him. As the days went by, Max and his owner became regular patrons of the cafe. They would come in every day to study, with Max sitting attentively beside his owner, taking in every word.

The other customers at the cafe couldn't help but notice Max's eagerness to learn. They were charmed by his cute little face and wagging tail. Some of them would even come over to pet him and chat with his owner.

Max's owner was thrilled to see how much he had grown and how much he had learned. And Max, well, he was just happy to be spending time with his owner and learning new things in his favorite cafe.
                </a>
				
			</div>
		</div>
	</section>
</body>

</html>