<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Noto Sans Symbols' rel='stylesheet'>
	<title>CRISIS</title>
	<link rel="stylesheet" href="style.css">

</head>


<body>
	<nav class="navbar">
		<div class="nav-link-container">
            <a class="nav-link" href="homepage.html" >Home</a>
            <a class="nav-link" href="account.html" >Account</a>
			<a class="nav-link-crisis" href="crisis.html">&nbsp CRISIS &nbsp</a>
		</div>
	</nav>

	<section class="body-container">
		<div class="body">
			<div class="main-container-crisis">
				<div class="crisis-hotline-button"> Crisis Hotline
				</div>
            </div>
            
            <div class="main-container-crisis">
                <div class="emergency-contact-button"> Emergency Contact
				</div>
            
             <div class="main-container-crisis">
                    <div class="other-resources-button"> Other Resources:
                        <p style="font-size:15px; text-align: left;">
                           <a href="https://www.webelievesurvivors.ca/" style= text-decoration:none;>
                            - Support for sexual violence survivors
                           </a>   <br>
                           <a href="https://kingstonhomebase.ca/one-roof/" style= text-decoration:none;>
                            - Youth support 
                           </a>   <br>
                        </p> 
            </div>
			<!-- </div> -->
		</div>
	</section>
    <div></div>
</body>

</html>