<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Noto Sans Symbols' rel='stylesheet'>
	<title>Take a Break</title>
	<link rel="stylesheet" href="style.css">

</head>


<body>
	<nav class="navbar">
		<div class="nav-link-container">
            <a class="nav-link" href="homepage.html" >Home</a>
            <a class="nav-link" href="account.html" >Account</a>
			<a class="nav-link-crisis" href="crisis.html"> &nbsp CRISIS &nbsp  </a>
		</div>
	</nav>

	<section class="body-container">
		<div class="body">
			<div class="main-container">
				<div class="button-glow">
					<a
						href="questions.html" class="break_button">Take a break
					</a>
				</div>
                <h2>Take-a-break aims to let the user step out of their head for 
                    a minute or two by providing soothing stories and pictures that help to relax</h2>
			</div>
		</div>
	</section>
    <div></div>
</body>

</html>