<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="header">
        <h1>Take a Break</h1>
    </div>

    <div class="navbar">
        <a href="homepage.html">Home</a>
        <a href="crisis.html" class="right">Crisis</a>
    </div>

    <div class="main">
        <a href="questions.html">
            <button href="questions.html" type="button">Take a break</button>
        </a>
        <p>
            Take a break with a customized story.
        </p>
    </div>

</body>
</html>