<!DOCTYPE html>
<html lang="en">
<head>
<title>questions</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="header">
        <h1>Take a break</h1>
    </div>

    <div class="navbar">
        <a href="homepage.html">Home</a>
        <a href="crisis.html" class="right">Crisis</a>
    </div>

    <div class="main">
        <form action="aipage.html">
            <label for="time">How long do you need to take a break?</label>
            <select name="time" id="time">
              <option value="30 seconds">30 sec</option>
              <option value="2 minutes">2 min</option>
              <option value="5 minutes">5 min</option>
              <option value="10 minutes">10 min</option>
            </select>
            <br><br>
            <label for="mood">How are you doing?</label>
            <select name="time" id="time">
              <option value="good">Good</option>
              <option value="bad">Bad</option>
              <option value="sad">Sad</option>
              <option value="mad">Mad</option>
            </select>
            <br><br>
                <input type="submit" value="Start my break">
          </form>
    </div>

</body>
</html>