<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Noto Sans Symbols' rel='stylesheet'>
	<title>Take a Break</title>
	<link rel="stylesheet" href="style.css">

</head>


<body>
	<nav class="navbar">
		<div class="nav-link-container">
            <a class="nav-link" href="homepage.html" >Home</a>
            <a class="nav-link" href="account.html" >Account</a>
			<a class="nav-link-crisis" href="crisis.html">&nbsp CRISIS &nbsp</a>
		</div>
	</nav>

	<section class="body-container">
		<div class="body">
			
                <form style="padding-top: 50px"action="aipage.html">
                    <label style="font-size: 30px" for="time">How long do you need to take a break?</label>
                    <select style="font-size: 30px" name="time" id="time">
                      <option value="30 seconds">30 sec</option>
                      <option value="5 minutes">5-10 min</option>
                      <option value="10 minutes">10+ min</option>
                    </select>
                    <br><br>
                    <label style="font-size: 30px" for="mood">How are you doing?</label>
                    <select style="font-size: 30px" name="time" id="time">
                      <option value="anxious">Anxious</option>
                      <option value="happy">Happy</option>
                      <option value="sad">Sad</option>
                      <option value="frustrated">Frustrated</option>
                      <option value="neutral">Neutral</option>
                      
                    </select>
                    <br><br>
                          <div class="main-container-start-break">
                          <div class="button-container">
                            <input type="submit" value="Start my break" class="start-my-break">
                          </input>
                          </div> 
                  </form>
                  
			</div>
		</div>
	</section>
    <div></div>
</body>

</html>
