/* General styling */
body {
    padding: 0px;
    margin: 0;
    background:linear-gradient(to bottom, #DCF3DF 0%, #7ED286 100%);;
    font-family: 'Noto Sans Symbols';
    min-height: 100%;
  }
  
  html {
      /* To make use of full height of page*/
      min-height: 100%;
      margin: 0;
  }
  
  /*  Navbar styling  */
  .navbar {
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
  }
  .nav-link-container {
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    width: 100%;
    flex-direction: row;
  }
  
  .nav-link-crisis{
    background-color: #d8d6d6;
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
  }
  
  .nav-link {
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
  
  }
  
/* Homepage */
  
  /* Body styling */
  .body-container {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
  }
  .body {
    width: 60%;
  }
  
  /* Centers the Take a break button */
  
  .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 200px;
  }
  .main-container a {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 150px;
    width: 200px;
  }
  .main-container h2 {
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 150px;
      width: 700px;
    }
  .break_button {
      color:white;
      text-decoration: none;
  }
  
  /* Styling for Take a Break button */
  .button-container {
      background-color: #7ED286; /* Green */
      border: none;
      color: white;
      padding: 30px 40px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 50px;
      border-radius: 30px;
  }
  
  
  /* crisis page  */
  .main-container-crisis {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;

  }
  .emergency-contact-button {
    background-color: #72e08d; 
    border: none;
    color: rgb(10, 10, 10);
    padding: 30px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 30px;
}
.crisis-hotline-button {
  background-color: #ee8b90; 
  border: none;
  color: rgb(0, 0, 0);
  padding: 30px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 30px;
}
.other-resources-button {
  background-color: #87d3f7; 
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 30px;
}


.account-info-button-container {
  background-color: #7ED286; /* Green */
  border: none;
  color: white;
  padding: 5px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  border-radius: 30px;
}

.account-fav-button-container {
  background-color: #8abe8f; /* Green */
  border: none;
  color: white;
  padding: 5px 40px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  border-radius: 30px;
}
.fav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 0px;
  padding-left: 300px;
}